@mixin custom-colors {
  --spruce: #20513f;
  --black: #1c1c1a;
  --sound: #13352c;
  --sage: #abb4a2;
  --moss: #bfb33d;
  --salmonberry: #e74f3d;
  --cedar: #c7370f;
  --birch: #e8e0ce;
  --natural: #f4f2ec;
  --white: #ffffff;
  --charcoal: #373734;
}
